# Разработка веб-сервисов

## Веб сервис по пассажирам титаника

### Этап 1: Обучения модели

In [1]:
import pandas as pd

from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

<table align='left'>
    <tr>
        <th></th>
        <th>Название</th>
        <th>Значение</th>
        <th>Код</th>
    </tr>
    <tr>
        <td></td>
        <th>PassengerId</th>
        <td>ID пассажира</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <th>Survived</th>
        <td>Выжил ли</td>
        <td>1 = Да,
            0 = Нет</td>
    </tr>
    <tr>
        <td></td>
        <th>Pclass</th>
        <td>Класс билета</td>
        <td>1 = первый класс, 2 = второй класс, 3 = третий класс</td>
    </tr>
    <tr>
        <td></td>
        <th>Sex</th>
        <td>Пол</td>
        <td>male = мужчина, female = женщина</td>
    </tr>
    <tr>
        <td></td>
        <th>Name</th>
        <td>Полное имя</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <th>SibSp</th>
        <td>Число братьев и сестер/ жен и мужей</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <th>Parch</th>
        <td>Число родителей, детей на борту</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <th>Ticket</th>
        <td>Номер билета</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <th>Fare</th>
        <td>Цена билета</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <th>Cabin</th>
        <td>Номер каюты</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <th>Embarked</th>
        <td>Порт погрузки</td>
        <td></td>
    </tr>
</table>

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [5]:
train['Survived'].value_counts(normalize=True)*100

0    61.616162
1    38.383838
Name: Survived, dtype: float64

In [6]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
test.isnull().any()

PassengerId    False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin           True
Embarked       False
dtype: bool

In [8]:
X = train[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]
y = train['Survived']

In [9]:
X.isnull().any()

Pclass    False
Age        True
SibSp     False
Parch     False
Fare      False
dtype: bool

In [10]:
X = X.fillna(X.mean())

In [11]:
X.isnull().any()

Pclass    False
Age       False
SibSp     False
Parch     False
Fare      False
dtype: bool

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [13]:
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

print('accuracy_score:', accuracy_score(y_test, model.predict(X_test)))
print('roc_auc_score: ',  roc_auc_score(y_test, model.predict_proba(X_test)[:,1]))

accuracy_score: 0.654237288136
roc_auc_score:  0.719976190476

#### Задание:
Улучшить модель: учесть пол и прочее

In [14]:
X = train[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex']]
y = train['Survived']
X = X.fillna(X.mean())
X.Sex = X.Sex.map({'male': 1, 'female': 0})

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

print('accuracy_score:', accuracy_score(y_test, model.predict(X_test)))
print('roc_auc_score: ',  roc_auc_score(y_test, model.predict_proba(X_test)[:,1]))

accuracy_score: 0.820338983051
roc_auc_score:  0.871238095238

После того как было оценено качество алгоритма, обучим алгоритм на всей тренировочной выборке

#### Задание:
Обучить модель на всей тренировочной выборке

In [15]:
X = train[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex']]
y = train['Survived']
X = X.fillna(X.mean())
X.Sex = X.Sex.map({'male': 1, 'female': 0})

model = RandomForestClassifier(random_state=42)
model.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

### Этап 2: Сохранение модели на диск

Обычно обучение модели занимает некоторое время, иногда это часы и даже дни. Выгодно сохранять обученную модель, чтобы не тратить время на обучение каждый раз

In [16]:
data = pd.concat([train, test], ignore_index=True)

In [17]:
data.tail()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

In [18]:
data.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

Сохраним результат предсказаний в виде меток и вероятностей.
#### Задание:
Создать столбец **data['Survived_pred']** - вероятность выжить

In [19]:
X = data[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex']]
X = X.fillna(X.mean())
X.Sex = X.Sex.map({'male': 1, 'female': 0})

data['Survived_prob'] = model.predict_proba(X)[:,1]

Сохранить модель можно с помощью модуля pickle

In [20]:
# библиотека нужна будет использоваться для проверки существования файла
import os
# библиотека для сохранения модели
import pickle

# название файла, куда будет сохраняться модель (расширение не важно)
MODEL_NAME = 'saved_model.pckl'

In [21]:
# Функция для сохоранения модели
# name - имя модели
# data - данные
def save_pckl(name, data):
    with open(name, 'wb') as f:
        pickle.dump(data, f)
        
# Функция для загрузки модели
# name - имя модели
# возвращает новые данные
def load_pckl(name):
    with open(name, 'rb') as f:
        data_new = pickle.load(f)
        return data_new

In [22]:
# Проверяет сохранена ли модель, если сохранена, то не трогать, если нет, то сохранить
if not os.path.exists(MODEL_NAME):
    print('Записываем модель на диск')
    save_pckl(MODEL_NAME, model)

Записываем модель на диск

### Этап 3: Создание веб-сервиса по пассажирам Титаника

#### Задание:
Создать веб-сервис, который бы удовлетворят следующим условиям:
- При запуске сервиса происходит обучение модели и сохранении ее на диск, при последующих запусках проверяется наличие на диске сохраненной модели, и если она сохранена, то она загружается с диска
- По переданным ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex'] выдавать вероятность выжить
- По запросу выдать информацию по среднему выжившему (придумать критерии среднего)
- Организовать поиск по Name и выдавать все значения из Name, подходящие под критерий: например, запрос 'anna' - ответ 'anna franklin', 'anna ivanov' и т.д.
- По полному имени из Name выдать информацию о возрасте, цене билета, колличестве родственников и т.д.
- т.д.